<div class="page-header">
  <%= link_to channels_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_channel_path(@channel), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show channel</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @channel.name %></dd>

</dl>
